.logo h1 {
    font-family: 'Anton', sans-serif;
    color: #e3e3da;
    font-size: 3.1rem;
/*     -webkit-text-stroke: 1.8px #e3e3da; */
}

/* 
// Fugaz One, cursive (nope)
// 'Rambla', sans-serif
// 'Anton', sans-serif
 */