.profileContainer {
    background-color: rgb(236, 236, 235);
    padding: 1rem;
    display: flex;
    align-items: center;
}

@media (prefers-color-scheme: dark){
    .profileContainer{
        background-color: rgb(68, 67, 67);
    }
}

.profileContainer img {
    width: 10rem;
    border-radius: 50%;
    display: inline-block;
    padding: 1rem;
}

.profileContainer h1 {
    display: inline-block;
}