.RecipeDescriptionInput{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    align-items: center;
    padding-bottom: 24px;
}
textarea{
    max-width: 80%;
}