.recipeBodyContainer{
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.ingredientsContainer{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
}

.ingredientsContainer > h2 {
    margin-top: 12px;
    margin-bottom: 12px;
}

.ingredientsContainer > hr {
    width: 90%;
    color: rgb(235, 235, 235);

}

.recipeDescription{
    width: 90%;
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
    text-align: center;
}

.timeEstimateOuter{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timeEstimateOuter > hr {
    width: 100%;
}

.timeEstimateContainer{
    display: flex;
    flex-direction: row;
    padding: 12px;
    justify-content: center;
    align-items: center;
}

.timeEstimateText{
    padding-left: 12px;
    font-weight: lighter;
    font-size: 1.5rem;
}

.madeByContainer{
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    margin-bottom: 24px;
    margin-top: 24px;
}
.madeByContainer > div{
    margin-right: 8px;
}
.recipeMarkdown{
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.recipeMarkdown, .recipeDescription{
    max-width: 700px;
    font-size: 1.2rem;
    font-weight: 350;
}


@media only screen and (max-width: 900px) {
    .recipeBodyContainer{
        width: 100%;
        padding: 12px;
    }

    .recipeMarkdown, .recipeDescription{
    max-width: 500px;
    font-weight: 350;
    padding: 24px;
}
}
