.outerContainer {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
  background-color: #f1f1f1;
}

.usernameTitle {
  font-weight: 100;
  font-size: 2.5rem;
  text-align: center;
}

.userInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.recipeContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0.6rem 0.8rem;
    max-width: 1600px;
}

/* Small devices (landsscape phones) standard */
/* Medium devices (tablets) */
@media (min-width: 650px) {
    .recipeContainer {        
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: flex-start;
        max-width: 1600px;
    }
}

