.box {
    margin: 0.6rem 0.6rem 1rem 0.6rem;
    border-color: black;
    border-radius: 1%;
    text-align: center;
    width: 350px;
    height: 600px;
    display: flex; 
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.separatorBox {
width: 100%;
}

.link {
    text-decoration: none;
}

.thumbnailImage{
    width: 100%;
    height: 15rem;
    border-radius: 1% ;
    transition: ease-out 0.15s;
}

.thumbnailImage:hover{
    transform: scale(1.04);
    transition: ease-out 0.15s;
}

.factsContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tinyFacts {
    color: #000;
    font-size: 1.5rem;
    font-weight: 300;
    margin: 0.3rem 0rem;
    padding: 0 0.4em;
    width: 100%;

}

.tinyFacts div{
    margin: 0.1rem 0.3rem 0 0;
}

.tinyFacts div div{
    margin: 0.2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
}

 #clock, #star {
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    top: 3px;
}

.linkBox {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    width: 100%;
    margin-bottom: 8px;
    margin-right: 12px;
    padding-right: 8px;
}

.noLinkBox {
    display: none;
}

.editLink {
    display: inline;
}

.editIcon {
    font-size: 2.5rem;
    color: #008f67;
}

.editIcon:hover{
    color: #01b985;
}

.thumbnailTitle{
    font-size: 2rem;
}

.thumbnailTitle:hover{
    color: #00db9d;
}

.description{
    max-height: 200px;
    margin-bottom: 0px;
    overflow: hidden;
}

@media (max-width: 400px) {
    .box{
        width: 95%;
        margin: 12px auto;
    }
    .thumbnailImage{
        padding: 2px;
    }
    
}

@media (prefers-color-scheme: dark) {
    .tinyFacts{
        color:#fff;
    }
}