.box {
    margin: 0.6rem 0.6rem 1rem 0.6rem;
    padding: 1rem 0.8rem 0rem 0.8rem;
    background-color: #e3e3da;
    border-color: black;
    border-radius: 2.5%;
    justify-content: center;
    text-align: center;
    display: inline-block; 
    min-width: 93%;
}

.link {
    text-decoration: none;
}

.thumbnailImage{
    width: 100%;
    height: 15rem;
    border-radius: 3% ;

}

.tinyFacts {
    color: #008f67;;
    font-size: 1.5rem;
    font-weight: 300;
    margin: 0.3rem 0rem;
    padding: 0 0.4em;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.tinyFacts div{
    margin: 0.1rem 0.3rem 0 0;
}

.tinyFacts div div{
    margin: 0.2;
    display: inline-block;
}

 #clock, #star {
    position:relative;
    top: 3px;
}

.linkBox {
    display: flex;
    justify-content: end;
    align-items: flex-end;
}

.editLink {
    display: inline;
}

.editIcon {
    font-size: 3rem;
    color: #008f67;
}

/* Small devices (landsscape phones) standard */
/* Medium devices (tablets) */
@media (min-width: 650px) {
    .box {
        min-height: 37rem;
        align-items: center;
        width: 300px;
        flex-basis: 300px;
        flex-grow: 1;
        max-width: 600px;
        min-width: 300px;
    }
    #heading {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 4.5rem;
    }

    h1 {
        font-size: 2em;
    }

}
